@model IEnumerable<TaskWebUI.Models.Entity.Appsetting>

@{
    ViewData["Title"] = "Index";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div style="">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.WebTitle)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.WebLogo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.WebFooter)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WebTitle)
                                    </td>
                                    <td>
                                        <img class="img-size" src="~/uploads/@item.WebLogo" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WebFooter)
                                    </td>
                                    <td class="operate-cell">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>